/* Coolors Exported Palette - coolors.co/001e1b-eefeff-730317-174c48-3e3f5b */

/* HSL */
$color1: hsla(174%, 100%, 6%, 1);
$color2: hsla(184%, 100%, 97%, 1);
$color3: hsla(349%, 95%, 23%, 1);
$color4: hsla(175%, 54%, 19%, 1);
$color5: hsla(238%, 19%, 30%, 1);

/* RGB */
$color1: rgba(0, 30, 27, 1);
$color2: rgba(238, 254, 255, 1);
$color3: rgba(115, 3, 23, 1);
$color4: rgba(23, 76, 72, 1);
$color5: rgba(62, 63, 91, 1);