body,html {
  height: 100%;
}
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax--half-height {
  height: 70vh;
}

.image-wakis {
  background-image: url("../images/wakis.jpeg");
}

.image-tree {
  background-image: url("../images/tree.jpg");
}

.profile-thumbnail {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto auto 10px auto;
}

.team-intro {
  padding: 0 30px;
}

.image-noe {
  background-image: url("../images/noe.jpg");
}

.image-paul {
  background-image: url("../images/paul.jpg");
}

.brand-container {
  width: 100%;
  top: 50%;
  left: 0;
  position: absolute;
  text-align: center;
}

.brand {
  background-color: rgba(0, 0, 0, 0.70);
  padding: 25px 60px;
  border-radius: 2px;
  font-size: 30px;
  color: #c7c7c7;
  text-transform: uppercase;
  word-wrap: break-word;
}

.text-white {
  color: white;
}

.large-icon {
  font-size: 14vw;
}

.spread-letters {
  margin-left: 10px;
  letter-spacing: 10px;
}

.section {
  background-color: #3d3139;
  color: white;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


